In [ ]:
num=int(input("enter any number"))
if (num>0):
  print("Given number is positive number")

enter any number76
Given number is positive number

In [ ]:
age=23
if (age>17):
  print("you are eligible to vote")

you are eligible to vote

In [ ]:
num=int(input("enter any number"))
if (num%2==0):
  print("given number is even")
else:
  print("given number is odd")

enter any number64
given number is even

In [ ]:
ta=76
en=24
ma=75
if(ta>34 and en>34 and ma>34):
  print("you are pass")
else:
  print("you are fail")

you are fail

In [ ]:
phy=87
che=90
com=95
avg=((phy+che+com)/3)
if(avg>80):
  print("A grade")
elif(avg>70):
  print("B grade")
else:
  print("C grade")

A grade

In [ ]:
username=str(input("enter your user name"))
password=str(input("enter your password"))
if(username=="kumari" and password=="hello"):
  print("you are a correct user")
else:
  print("wrong")

enter your user namekumari
enter your passwordhello
you are a correct user

In [ ]:
pgm=["c","c++","java","python"]
print("The first element of the list",pgm[0])
print("The last element of the list",pgm[-1])
print("The second element of the list",pgm[1])
pgm[0]="Html"
print("The updated list",pgm)

The first element of the list c
The last element of the list python
The second element of the list c++
The updated list ['Html', 'c++', 'java', 'python']

In [ ]:
marks=[90,67,87,45,78]
print("The mark details",marks)

The mark details [90, 67, 87, 45, 78]

In [ ]:
shoppinglist=["rice","bread","milk","sugar","viva"]
print("Total number of items in a list",len(shoppinglist))

Total number of items in a list 5

In [ ]:
days=["mon","tue","wed","thu","fri","sat","sun"]
for days in days:
 print(days)

mon
tue
wed
thu
fri
sat
sun

In [ ]:
regno=(1245,1246,1247,1248,1249)
print(regno[0])

1245

In [ ]:

studentdetail={"name":"madhu","age":15,"course":"cs"}
print("studentdetails")
print("Name:",studentdetail["name"])
print("Age:",studentdetail["age"])
print("course:",studentdetail["course"])
print(studentdetail.keys())

studentdetails
Name: madhu
Age: 15
course: cs
dict_keys(['name', 'age', 'course'])

In [ ]:
rollnum=[12345,12346,12347,12345,12347,12348]
curnum=list(set(rollnum))
print("given list",rollnum)
print("unique list",curnum)

given list [12345, 12346, 12347, 12345, 12347, 12348]
unique list [12345, 12346, 12347, 12348]